@using HandiworkShop.Common.Resourses
@model HandiworkShop.Web.ViewModels.ProfileViewModel

@{ ViewData["Title"] = string.Format(PageTitleResource.StringFormat, PageTitleResource.SiteName, Model.Name); }

<div class="profile">
    <div class="avatar">
        @if (Model.Avatar != null)
        {
            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))">
        }
        else
        {
            <img src="~/images/default_avatar.jpg">
        }
        @if (Model.IsVendor && Model.UserName != User.Identity.Name)
        {
            <form method="get" asp-controller="Orders" asp-action="CreateOrder">
                <button type="submit" class="template-button">Сделать заказ</button>
            </form>
        }
        else if (Model.UserName == User.Identity.Name)
        {
            <form method="get" asp-controller="Account" asp-action="Settings">
                <button type="submit" class="template-button">Настройки профиля</button>
            </form>
        }
    </div>
    <div class="info">

        <p class="name">@Model.Name</p>
        <p class="username">@('@')@Model.UserName</p>
        <pre>@Model.Info</pre>
        <div class="tags">

            @if (Model.IsVendor && Model.Tags.Any())
            {
                foreach (var tag in Model.Tags)
                {
                    <a asp-action="Profile" asp-controller="Search" asp-route-tagIds=@tag.Id>
                        <p>@tag.Name</p>
                    </a>
                }
            }
        </div>
    </div>
</div>
<div class="break-line"></div>

@if (Model.IsVendor && Model.Comments.Any())
{
    <p>Комментарии</p>
    <div class="break-line"></div>

    <div class="comments">

        @foreach (var comment in Model.Comments)
        {
            <div class="comment">
                <div class="avatar">
                    <a asp-controller="Profile" asp-action="Index" asp-route-userName=@comment.AuthorUserName>
                        @if (comment.AuthorAvatar != null)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(comment.AuthorAvatar))">
                        }
                        else
                        {
                            <img src="~/images/default_avatar.jpg">
                        }
                    </a>
                </div>
                <div class="comment-text">
                    <p class="author">@comment.AuthorName</p>
                    <p>@comment.Created.ToShortDateString()</p>
                    @for (int i = 5; i > comment.Rating; i--)
                    {
                        <div class="star">★</div>
                    }
                    @for (int i = comment.Rating; i >= 1; i--)
                    {
                        <div class="star filled">★</div>
                    }
                    <pre class="text">@comment.Text</pre>
                </div>
            </div>
        }
    </div>
}