@model (List<HandiworkShop.Web.ViewModels.TagViewModel> AllTags, List<HandiworkShop.Web.ViewModels.ProfileViewModel> Profiles)

@{
    ViewData["Title"] = "Поиск мастеров";
}
<form method="get" asp-controller="Search" asp-action="SearchProfile">

    <input type="text" name="searchString">
    <input type="submit" value="Найти">
    @foreach (var tag in Model.AllTags)
    {
        <input type="checkbox" name="tagIds" value=@tag.Id>@tag.Name
    }

</form>
    <div class="profiles">
        @if (Model.Profiles.Any())
        {
        @foreach (var profile in Model.Profiles)
        {
        <div class="profile">
            <a asp-controller="profile" asp-action="index" asp-route-username=@profile.UserName>

                <div class="avatar">
                    @if (profile.Avatar != null)
                    {
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(profile.Avatar))">
                    }
                    else
                    {
                        <img src="~/images/account_circle.png">
                    }
                </div>
            </a>
            <form method="post" asp-controller="Orders" asp-action="CreateOrder" asp-route-vendorId=@profile.UserId>
                <button type="submit">Сделать заказ</button>
            </form>
            <a asp-controller="profile" asp-action="index" asp-route-username=@profile.UserName>

                <p class="name">@profile.Name</p>
                <p class="username">@profile.UserName</p>
                <p class="created">@profile.Created.ToShortDateString()</p>
                </a>
                <div class="tags">

                    @if (profile.Tags.Any())
                    {
                        foreach (var tag in profile.Tags)
                        {
                            <div class="tag">
                                <p>@tag.Name</p>
                            </div>
                        }
                    }
                    else
                    {
                        <h1>No tags(</h1>
                    }
                </div>
        </div>
            
        }
        }
        </div>
